@{
    ViewData["Title"] = "Magazinul de pisici si caini";
}
<h1><em><strong>@ViewData["Title"]</strong></em></h1>
<h5>@ViewData["Message"]</h5>

@*<p>Use this area to provide additional information.</p>*@
