@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <img src="https://www.dogtagart.com/sites/default/files/styles/scale_width_1200/public/blog/dogcat1.jpg" alt="Alternate Text" />
</div>

